<nav
    class="navbar-expand-lg d-flex align-items-center themed-box d-flex justify-content-between p-2t"
    data-wow-delay="0.1s">
    <div class=" d-flex justify-content-between align-items-center ">

        <div class=" " id>
            <div class=" ">
                <button class="btn" id="backButton">
                    <span class="material-symbols-outlined">arrow_back</span>
                </button>
            </div>
        </div>

        <a href="index.html" class="navbar  px-1 px-lg-1">
            <a href="#" class="navbar-brand">
                <img src="/image/fav.png" alt="Icon" width="60" height="60"
                    class="d-inline-block align-top">
            </a>
        </a>
        <h4 class> Assam SDR</h4>

        <button class="btn" id="homeButton">
            <i class="bi bi-house-fill"></i>
        </button>
    </div>
    <div>
        <button id="toggleTheme" class="btn ">
            <span id="theme-icon"
                class="material-symbols-outlined nav-item nav-link rounded">dark_mode</span>
        </button>
    </div>

</nav>