<!-- Footer Start -->
<div class="container-fluid footer-bg text-light footer pt-5 wow fadeIn"
  data-wow-delay="0.1s">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-4 col-md-6">
        <h5 class="text-light mb-4">Address</h5>
        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Bigyan
          Bhawan,Near IDBI Building, G.S. Road,
          Guwahati-781005,Assam, India</p>
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>069138 48401</p>
        <p class="mb-2"><i
            class="fa fa-envelope me-3"></i>dirassac2021@gmail.com</p>
        <div class="d-flex pt-2">
          <a class="btn btn-outline-light btn-social rounded-circle" href><i
              class="fab fa-twitter"></i></a>
          <a class="btn btn-outline-light btn-social rounded-circle" href><i
              class="fab fa-facebook-f"></i></a>
          <a class="btn btn-outline-light btn-social rounded-circle" href><i
              class="fab fa-youtube"></i></a>
          <a class="btn btn-outline-light btn-social rounded-circle" href><i
              class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <h5 class="text-light mb-4">Important Links</h5>

        <p class="d-flex align-items-center mb-2">
          <i class="bi bi-box-arrow-up-right text-light me-2"></i>
          <a href="https://nesdr.gov.in/" target="_blank"
            class="text-light text-decoration-none">NeSDR</a>
        </p>

        <p class="d-flex align-items-center mb-2">
          <i class="bi bi-box-arrow-up-right text-light me-2"></i>
          <a href="https://www.mosdac.gov.in/" target="_blank"
            class="text-light text-decoration-none">MOSDAC</a>
        </p>

        <p class="d-flex align-items-center mb-2">
          <i class="bi bi-box-arrow-up-right text-light me-2"></i>
          <a href="https://vedas.sac.gov.in/en/" target="_blank"
            class="text-light text-decoration-none">VEDAS</a>
        </p>

        <p class="d-flex align-items-center mb-2">
          <i class="bi bi-box-arrow-up-right text-light me-2"></i>
          <a href="https://bhuvan.nrsc.gov.in/home/" target="_blank"
            class="text-light text-decoration-none">Bhuvan</a>
        </p>

      </div>

      <div class="col-lg-4 col-md-6">
        <div
          style="max-width:100%;list-style:none; transition: none;overflow:hidden;width:500px;height:300px;">
          <div id="canvas-for-googlemap"
            style="height:100%; width:100%;max-width:100%;"><iframe
              style="height:100%;width:100%;border:0;" frameborder="0"
              src="https://www.google.com/maps/embed/v1/place?q=Assam+State+Space+Application+Centre,+GS+Road,+near+IDBI+Bank+ABC,+ABC,+Near+IDBI+Bank,+Sree+Nagar,+Guwahati,+Assam,+India&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe>
          </div><a class="googlecoder"
            href="https://www.bootstrapskins.com/themes"
            id="enable-map-data">premium bootstrap themes</a>
          <style>
            #canvas-for-googlemap img {
              max-width: none !important;
              background: none !important;
              font-size: inherit;
              font-weight: inherit;
            }
          </style>
        </div>
      </div>

    </div>
  </div>
  <footer class="mt-auto" data-bs-theme="dark" class="dark-mode">
    <div class="copyright">
      <div class="container">
        <hr>
        <div class="row ">
          <div class="col-md-19 text-center text-md-start mb-3">
            &copy;2025 Assam-SDR All Rights Reserved | Designed And developed By <a href="#"
              class="border-bottom">Assam State Application Center</a>
          </div>
          <!-- <div class="col-md-6 text-center text-md-end mb-3">
            Designed And Develpo By <a href="#" class="border-bottom">Assam
              State Application Center</a>
          </div> -->
          <!-- </div>
                <a href="#" class="developer-link">Dev</a>
            </div> -->
        </div>
      </footer>
      <!-- Footer End -->
